/* 首页模块 */
.homepage {
    width: 100%;
    margin: auto;
    /* display: none; */
    padding-bottom: 50px;
}

.homepage header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 443px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #fff;
}
.homepage header .fr {
    width: 30px;
    height: 100%;
    margin-right: 10px;
}

/* 导航栏模块 */
.homepage .content {
    width: 430px;
    margin-top: 40px;
}

.homepage .content>ol {
    position: fixed;
    z-index: 1;
    top: 40px;
    left: 0;
    width: 443px;
    display: flex;
    justify-content: space-around;
    height: 40px;
    /* line-height: 40px; */
    border-bottom: 1px solid rgb(245, 245, 245);
    background-color: #fff;
}

.homepage .content>ol>li {
    padding-top: 8px;
}

.homepage .content>ol .current {
    padding-bottom: 5px;
    color: rgb(155, 106, 208);
    border-bottom: 3px solid rgb(155, 106, 208);
}
.homepage .content .top {
    display: block;
    position: relative;
    width: 430px;
    height: 40px;
}
.homepage .content>div {
    position: relative;
    column-count: 2;
    /* margin-top: 50px; */
    display: none;
    /* padding-bottom: 50px; */
} 
.homepage .content .recom {
    display: block;
}


/* 写文章模块 */
.write {
    position: relative;
    width: 430px;
    height: 690px;
    display: none;
}
.write header {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}
.write .img-container {
    display: none;
    float: left;
}
.write .img-container .img-box {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 5px;
    overflow: hidden;
    background-color: pink;
}
.write .img-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;
}
.write .file-box {
    float: left;
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 50px;
    color: rgb(154, 154, 154);
    background-color: rgb(245, 245, 245);
}
.write .file {
    position: absolute; 
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.write .title {
    width: 100%;
    height: 40px;
    border: 0;
    border-bottom: 1px solid rgb(245, 245, 245);
}
.write input::placeholder {
    color: rgb(204, 204, 204);
}
.write .content {
    width: 100%;
    height: 100px;
    border: 0;
    border-bottom: 1px solid rgb(245, 245, 245);
}
.write .box {
    overflow: hidden;
}

.write .topic,
.yonghu {
    float: left;
    width: 60px;
    height: 23px;
    line-height: 23px;
    margin: 5px;
    font-size: 13px;
    text-align: center;
    color: rgb(97, 97, 97);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    background-color: #fff;
}
.write .tag-label {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 15px;
    color: rgb(151, 101, 206);
    border-bottom: 1px solid rgb(245, 245, 245);
}
.write .tags {  
    width: 410px;
    height: 40px;
    border: 0;
    font-size: 15px;
    color: rgb(151, 101, 206);
}
.write .mask {
    display: none;
    position: absolute;
    top: 0;
    z-index: 1;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.write .tags-box {
    display: none;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 90px;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
}
.write .tags-box .tags-content {
    display: block;
    border: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(245, 245, 245);
}
.write .tags-box .tags-content::placeholder {
    padding-left: 10px;
}
.write .tags-box ul {
    display: flex;
}
.write .tags-box ul li {
    flex: 1;
    line-height: 40px;
    text-align: center;
    color: rgb(151, 101, 206);
}
.write .tags-box ul li:first-child {
    border-right: 1px solid rgb(245, 245, 245);
}

.write .post-btn {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    border: 0;
    color: #fff;
    background-color: rgb(151, 101, 206);
}


/* 搜索模块 */
.search {
    width: 430px;
    height: 690px;
    display: none;
}
.search header {
    position: relative;
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}
.search header input{
    height: 25px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid rgb(151, 101, 206);
}
.search header input::placeholder {
    color: rgb(204, 204, 204);
}
.search header .search-btn {
    position: absolute;
    top: 10px;
    left: 380px;
    width: 40px;
    height: 25px;
    line-height: 25px;
    margin-right: 20px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid rgb(204, 204, 204);
    background-color: #fff;
}
.search ol {
    display: flex;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid rgb(245, 245, 245);
}
.search ol li {
    flex: 1;
}
.search ol>.current>span {
    padding-bottom: 7px;
    border-bottom: 2px solid rgb(151, 101, 206);
    color: rgb(151, 101, 206);
}
.search-box {
    text-align: center;
    /* column-count: 2; */
}
.columns {
    column-count: 2;
}