@font-face {
  font-family: "iconfont"; /* Project id 3166636 */
  src: url('iconfont.woff2?t=1652184559671') format('woff2'),
       url('iconfont.woff?t=1652184559671') format('woff'),
       url('iconfont.ttf?t=1652184559671') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-shoucang:before {
  content: "\e610";
}

.icon-aixin:before {
  content: "\e85c";
}

.icon-aixin1:before {
  content: "\e611";
}

.icon-dianzanhongse:before {
  content: "\e60b";
}

.icon-fanhui:before {
  content: "\e609";
}

.icon-kulian:before {
  content: "\e638";
}

.icon-yonghu:before {
  content: "\e607";
}

.icon-haoyou:before {
  content: "\e608";
}

.icon-pinglun:before {
  content: "\e63c";
}

.icon-zhuanfa:before {
  content: "\e60f";
}

.icon-liebiao:before {
  content: "\e602";
}

.icon-xiai:before {
  content: "\e603";
}

.icon-shangchuan:before {
  content: "\e605";
}

.icon-31liebiao:before {
  content: "\e606";
}

.icon-jiahao1:before {
  content: "\e727";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-xiaoxizhongxin:before {
  content: "\e669";
}

.icon-shuxie:before {
  content: "\e63f";
}

.icon-xiaoxi:before {
  content: "\e616";
}

.icon-icon-test1:before {
  content: "\e689";
}

.icon-shangchuan1:before {
  content: "\e64c";
}

.icon-shezhi:before {
  content: "\e70f";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-bianjisekuai:before {
  content: "\ec7c";
}

.icon-xiaochengxu:before {
  content: "\e61a";
}

.icon-shuxie1:before {
  content: "\e60e";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-jiantou:before {
  content: "\e63a";
}

.icon-jiantou_xiangshang:before {
  content: "\e6ec";
}

.icon-dian:before {
  content: "\ec1e";
}

.icon-icon-class-c:before {
  content: "\e654";
}

.icon-shouye:before {
  content: "\e601";
}

.icon-iconfontunie62c:before {
  content: "\e614";
}

.icon-birdxiaoniao:before {
  content: "\e736";
}

.icon-xinhao1:before {
  content: "\e628";
}

.icon-dianhua:before {
  content: "\e60a";
}

.icon-facebook1:before {
  content: "\e8e7";
}

.icon-Group20662:before {
  content: "\e620";
}

.icon-xinhao:before {
  content: "\e600";
}

.icon-paper-full:before {
  content: "\ea0b";
}

.icon-Youtube-fill:before {
  content: "\ead1";
}

.icon-yinhao:before {
  content: "\e687";
}

.icon-huo:before {
  content: "\e66c";
}

.icon-shizhong:before {
  content: "\e74f";
}

.icon-ren:before {
  content: "\e604";
}

.icon-sousuokuang:before {
  content: "\e61e";
}

.icon-icon:before {
  content: "\e65f";
}

.icon-shandian:before {
  content: "\e60d";
}

.icon-instagram:before {
  content: "\e87f";
}

.icon-facebook:before {
  content: "\e634";
}

.icon-biankuang:before {
  content: "\e69d";
}

.icon-xunlei:before {
  content: "\ea50";
}

.icon-F_web_icon_instagram:before {
  content: "\e615";
}

.icon-icon-test:before {
  content: "\e63b";
}

.icon-arrow-right:before {
  content: "\e668";
}

.icon-arrow-down:before {
  content: "\e667";
}

.icon-add:before {
  content: "\e664";
}

.icon-add-circle:before {
  content: "\e665";
}

.icon-ashbin:before {
  content: "\e666";
}

.icon-direction-down:before {
  content: "\e66b";
}

.icon-favorite:before {
  content: "\e66f";
}

.icon-fabulous:before {
  content: "\e670";
}

.icon-good:before {
  content: "\e673";
}

.icon-map:before {
  content: "\e677";
}

.icon-refresh:before {
  content: "\e67b";
}

